@font-face {
  font-family: 'Robson';
  src: url('./Fonts//Robson-Bold.otf') format('woff2');
}
@font-face {
  font-family: 'SpaceGrotesk';
  src: url('./Fonts//SpaceGrotesk-Regular.ttf') format('woff2');
}

.herotxt {
  font-family: 'robson', sans-serif;
} 

body {
  font-family: 'Space Grotesk', sans-serif;
}

